/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
@font-face {
  font-family: "F1-Regular";
  src: url("/assets/Font/Formula1-Regular.ttf") format("truetype");
}

/* Body */

body {
  width: 100vw;
  height: 100vh;
  font-family: "F1-Regular", "formula1-display-regular-2", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

/* Header */

.header {
  background-color: #cc0000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.header__img {
  width: 8rem;
}

/* Input */
.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
  transform: scaleX(1);
}

/* Card */

/* Card Left */

.card {
  display: flex;
  justify-content: space-evenly;
  background-color: #cc0000;
  transition: background-color 0.4s ease-in-out;
  padding: 2rem;
  align-items: center;
}

.card__left {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
}

.card__driver {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card__fullName {
  display: flex;
  flex-direction: column-reverse;
}

.card__country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon {
  height: 3rem;
  width: 3.5rem;
}

.card__number {
  font-size: 3rem;
  font-weight: bold;
}

.card__firstName {
  font-size: 1rem;
}

.card__lastName {
  font-size: 1.4rem;
  font-weight: bold;
}

.card__codCountry {
  font-size: 0.8rem;
  font-weight: bold;
}

.card__img--driver {
  width: 16rem;
  height: 16rem;
  filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, .8));
}

.card__points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__points--number {
  font-size: 3rem;
  font-weight: bold;
}

.card__escuderia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card__escuderia--name {
  font-size: 1rem;
}

.card__escuderia--logo {
  width: 3rem;
  height: 3rem;
  border-radius: 0.4rem;
}

/* Card Right*/

.card__right {
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
}

.card__flagCircuit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.card__circuitTitle {
  display: flex;
  flex-direction: column;
}

.card__circuitTitle--name {
  font-size: 0.8rem;
}

.card__circuitTitle--img {
  width: 100%;
  height: 16rem;
}

.card__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.card__lastRace {
  font-weight: bold;
}

.card__position {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card__position--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__position--center {
  width: 2.5rem;
  height: 2.5rem;
}

.card__position--right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__status {
  display: flex;
  flex-direction: column;
}

.card__status--stat {
  font-size: 0.8rem;
  gap: 1rem;
  display: flex;
  align-items: flex-end;
}

.card__status--finish {
  font-size: 1rem;
  font-weight: bold;
}

.card__status--points {
  font-size: 0.8rem;
  gap: 1rem;
  display: flex;
  align-items: flex-end;
}

.card__status--pos {
  font-size: 1rem;
  font-weight: bold;
}

/* Schedules */

.schedules{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}


.schedules__card{
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.51);
}

.swiper-container{
  width: 100%;
  max-width: 100%;
}

.swiper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swiper-3d{
  perspective: 60rem;
}

.swiper-wrapper{
  width: 20rem;
  height: 32rem;
  padding: .8rem;
}

.swiper-slide{
  flex-shrink: 0;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.8rem;
}



.schedules__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedules__data{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.schedules__data--flag{
  width: 2rem;
  height: 2rem;
}

.imgScheCircuit{
  width: 16rem;
  height: 16rem;
}



@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .card__left {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
  }

  .card__right {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
  }
}