/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  width: 100vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img,
picture,
video,
iframe,
figure {
  width: 100%;
  display: block;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.header__img {
  height: 40px;
  width: 40px;
  border: none;
}

.main {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

.main__container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
}

.main__search {
  display: flex;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffc6c6;
  border: none;
  color: #000;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 20em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #000;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #ffc6c6;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #000;
}

.main2__container {
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffc12e;
  border: 10px solid #ff5a00;
  box-shadow: 0px 37px 30px -3px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px 37px 30px -3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 37px 30px -3px rgba(0, 0, 0, 0.48);
}

.main2__title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main2__gif {
  height: 40px;
  width: 40px;
}

.gifPokemon {
  border-radius: 4px;
  border: 1px solid #ff5a00;
}

figure {
  height: 60%;
  width: 100%;
}

img {
  border: 6px solid #ff5a00;
  background-color: #fff;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main2_description {
  width: 100%;
  height: 100%;
}

p {
  text-align: justify;
}

/* Footer */
.footer {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__icons {
  font-size: 20px;
  padding: 10px;
}
.footer__copyright {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .main {
    height: 90vh;
  }
  .main__container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .main2__container {
    width: 100%;
  }

  .search__input {
    width: 16em;
  }
}

@media screen and (max-width: 390px) {
  .main {
    height: 90vh;
  }
  .main__container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .main2__container {
    width: 100%;
  }
}
