/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global Styles */
  body {
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }